
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isTeacherForCourse(course) {
      return request.auth.uid == course.teacherId;
    }
    
    match /pending_users/{docId} {
      allow read, write: if isAdmin();
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isSignedIn();
      allow update: if (isOwner(userId) && request.resource.data.role == resource.data.role) || isAdmin();
      allow delete: if isAdmin();
    }
    
    match /classes/{classId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
    
    match /subjects/{subjectId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /courses/{courseId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isTeacherForCourse(request.resource.data);
    }

    match /schedule/{eventId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isTeacherForCourse(request.resource.data);
    }
  }
}
