
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Par défaut, refuser toutes les opérations
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
